.port_img(data-aos="fade-down", data-aos-easing="linear", data-aos-duration="1000")
    a(href="works/jinro/") 
        img.img-responsive(src="../image/works/jinro/thum_jinro.png")
        span.img_title JINRO
        span.img_subtit markup
.port_txt(data-aos="fade-down", data-aos-easing="linear", data-aos-duration="1000")
    .left
        p
            | 会社紹介サイト開発
            br
            br
            | ≪担当業務≫
            br
            | フロント開発, 結合テスト
            br
            | エラーテスト, バグ修正, 保守・運用
    .right
        table 
            tr
                th project
                th 眞露 株式会社 (JINRO)
            tr
                td 期 間
                td 2018年2月 ~ 2018年3月
            tr
                td 役 割
                td FRONT-END ENGINER
            tr
                td 使用言語
                td HTML, jQuery, JAVASCRIPT, CSS
.port_bt(data-aos="fade-down", data-aos-duration="1000")
    a.original_view(href="works/jinro/")
        .mockup_wrap
            img.mockup_thum(src="../image/works/jinro/fullpage_jinro.png", alt="thumImg")
            img.mockup(src="../image/mockup.png", alt="mockupImg")
        span SITE VIEW