.port_img(data-aos="fade-down", data-aos-easing="linear", data-aos-duration="1000")
    a(href="works/raon/") 
        img.img-responsive(src="../image/works/raon/thum_raon.png")
        span.img_title raon
        span.img_subtit markup
.port_txt(data-aos="fade-down", data-aos-easing="linear", data-aos-duration="1000")
    .left
        p
            | 社内ホームページ開発
            br
            br
            | ≪担当業務≫
            br
            | 社内ホームページ制作, メインページ担当
    .right
        table 
            tr
                th project
                th Raon 株式会社
            tr
                td 期 間
                td 2019年10月 ~ 2019年11月
            tr
                td 役 割
                td FRONT-END ENGINER
            tr
                td 使用言語
                td HTML, jQuery, JAVASCRIPT, CSS
.port_bt(data-aos="fade-down", data-aos-duration="1000")
    a.original_view(href="works/raon/")
        .mockup_wrap
            img.mockup_thum(src="../image/works/raon/fullpage_raon.png", alt="thumImg")
            img.mockup(src="../image/mockup.png", alt="mockupImg")
        span SITE VIEW