meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
link(rel="shortcut icon" href="../image/favicon.ico" type="image/x-icon")
meta(name="viewport", content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
meta(name="format-detection" content="telephone=no")
meta(name="description" content="個人ポートフォリオ, ポートフォリオ, キムヒヨン, 金禧龍, kimheeyong, hy-nice, portfolio, Front-End enginer")
link(rel="stylesheet", href="css/style.css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js") 
link(rel="stylesheet", href="https://unpkg.com/aos@2.3.1/dist/aos.css")
script(src="https://unpkg.com/aos@2.3.1/dist/aos.js") 
script(src="https://rawgit.com/kimmobrunfeldt/progressbar.js/1.0.0/dist/progressbar.js") 
script(src="../js/script.js") 